@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

:root {
    --cor01:#F2F2F2;
    --cor02:#A62479;
    --cor03:#3D58F2;
    --cor04:#418EF2;
    --cor05:#4BC3F2;
    --cor06:#32BA7C;
    --cor07:#FFD54B;
    --cor08:#FF5A54;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .elementos {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /*Quebra com 465px*/
}

header img {
    width: 50px;
    height: 50px;
    margin: 37px 10px;
}

header {
    background-color: var(--cor05);
    height: 124px;
    text-align: center;
    min-width: 100%;

    text-align: center;
    position: fixed;
    min-width: 100%;
}

header h1 {
    padding: 37px;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
}

article {
    padding-top: 167px;
    display: flex;
    flex-direction: column;
}

.campoMes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 50px 50px 50px;
}

#mesReferente {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    margin: 0 50px 50px 50px;
}

.coluna1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saldo {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    justify-content: center;
}

.saldo #campo {
    display: flex;
    width: 130px;
    height: 30px;
    margin-left: 7px;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
}

.movimentacoes {
    border: 3px solid black;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
}

.movimentacoes h2 {
    display: flex;
    justify-content: center;
}

.movimentacoes p{
    display: flex;
    font-size: 15px;
    padding: 95px 50px 95px 50px;
}

.btn {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

#btn-recebido {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--cor06);
    cursor: pointer;
}

#btn-recebido:hover{
    width: 160px;
    height: 55px;
    background-color: white;
    color: var(--cor06);
    border: 4px solid var(--cor06);
    transition: 0.4s;
    font-weight: bolder;
}

#btn-gasto {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--cor08);
    cursor: pointer;
}

#btn-gasto:hover{
    width: 160px;
    height: 55px;
    background-color: white;
    color: var(--cor08);
    border: 4px solid var(--cor08);
    transition: 0.4s;
    font-weight: bolder;
}

.modal {
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out; 
}

.modal-content {
    background-color: white;
    padding: 35px 25px;
    width: 300px;
    height: auto;
    border-radius: 15px;
}

.modal-content #fechar-card {
    margin-bottom: 25px;
    cursor: pointer;
    padding: 3px;
    float: right;
    background-color: lightgray;
    border: none;
}

.modal-content #fechar-card:hover {
    background-color: darkgray;
}


.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content .campo {
    margin-bottom: 25px;
}

.modal-content #options{
    margin-bottom: 65px;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}

.desc {
    display: flex;
    padding: 0 50px 60px 50px;
    align-items: center;
    justify-content: space-around;
}

.extrato {
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    justify-content: center;
}

.extrato button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    height: 60px;
    background-color: var(--cor02);
    border-radius: 20px;

    cursor: pointer;
}

.extrato img {
    margin: 8px;
}

#btn-extrato:hover{
    width: 110px;
    height: 55px;
    background-color: white;
    color: var(--cor02);
    border: 4px solid var(--cor02);
    transition: 0.4s;
    font-weight: bolder;
}

.coluna2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tit-disp-categoria {
    display: flex;
    justify-content: center;
}

.disp-categoria {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border: 3px solid var(--cor04);
    border-radius: 25px;
    padding: 10px;
    width: 350px;
    height: auto;
}

.filtro-carteira {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtro-carteira h2 {
    padding-right: 10px;
}

.quadro-ult-gasto {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--cor03);
    border-radius: 25px;
    padding: 10px;

    width: 350px;
    height: auto;
}

.ult-gasto {
    justify-content: space-between;
}

.tit-data-gasto {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
}

.valor-ult-gasto {
    display: flex;
    justify-content: center;
}

.coluna3 {
    display: flex;
    flex-direction: column;
}

.tit-carteira {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.tit-carteira img {
    padding-right: 15px;
}

.carteiras {
    display: flex;
    flex-direction: column;
    padding: 10px;

    border: 3px solid var(--cor02);
    border-radius: 25px;
    width: 500px;
    height: auto;
}

.carteira {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.atual-limite {
    display: flex;
    justify-content: space-between;
}

.btns {
    display: flex;
    justify-content: space-between;
}

#btn-criar {
    width: 80px;
    height: 40px;
    border: 3px solid black;
    border-radius: 25px;
    background-color: var(--cor06);
    cursor: pointer;
    font-weight: bolder;
}

#btn-criar:hover{
    width: 85px;
    height: 45px;
    background-color: white;
    color: var(--cor06);
    border: 4px solid var(--cor06);
    transition: 0.4s;
    font-weight: bolder;
    font-weight: bolder;
}

#btn-remover {
    width: 70px;
    height: 30px;
    border: 3px solid black;
    border-radius: 25px;
    background-color: var(--cor08);
    cursor: pointer;
    font-weight: bolder;
}

#btn-remover:hover{
    width: 75px;
    height: 35px;
    background-color: white;
    color: var(--cor08);
    border: 4px solid var(--cor08);
    transition: 0.4s;
    font-weight: bolder;
}