@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

:root {
    --cor01:#F2F2F2;
    --cor02:#A62479;
    --cor03:#3D58F2;
    --cor04:#418EF2;
    --cor05:#4BC3F2;
    --cor06:#32BA7C;
    --cor07:#FFD54B;
    --cor08:#FF5A54;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .elementos {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /*Quebra com 465px*/
}

header img {
    width: 50px;
    height: 50px;
    margin: 37px 50px;
}

header {
    background-color: var(--cor05);
    height: 124px;
    text-align: center;
    min-width: 100%;

    text-align: center;
    position: fixed;
    min-width: 100%;
}

header h1 {
    padding: 35px;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
}

article {
    padding-top: 167px;
    display: flex;
    flex-direction: column;
}

.campoMes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 50px 50px 50px;

    border: 1px solid black;
}

#mesReferente {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px 50px 50px;
}

.coluna1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saldo {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    justify-content: center;
}

.saldo #campo {
    display: flex;
    width: 130px;
    height: 30px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}

.movimentacoes {
    border: 1px solid black;

    display: flex;
    flex-direction: column;
}

.movimentacoes h2 {
    display: flex;
    justify-content: center;
}

.movimentacoes p{
    display: flex;
    font-size: 15px;
    padding: 95px 50px 95px 50px;
}

.btn {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

#btn-recebido {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--cor06);
}

#btn-gasto {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--cor08);
}

.extrato {
    border: 2px solid black;
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    justify-content: center;
}

.extrato button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    width: 250px;
    height: 60px;
}

.extrato img {
    margin: 25px;
}

.coluna2 {
    border: 1px solid black;
}

.coluna3 {
    border: 1px solid black;
}