/*@import url('LINK DA FONTE GOOGLE FONTS');*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor01:#F2F2F2;
    --cor02:#A62479;
    --cor03:#3D58F2;
    --cor04:#418EF2;
    --cor05:#4BC3F2;
    --cor06:#32BA7C;
    --cor07:#FFD54B;
    --cor08:#FF5A54;
}
/* Fazer depois: Colocar a fonte que será utilizada */ 
/* body {
    font-family: Arial, Helvetica, sans-serif;
} */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: var(--cor05);
}

.content {
    background-color: var(--cor01);
    border-radius: 25px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content::before{
    content: "";
    position: absolute;
    background-color: var(--cor02);
    width: 40%;
    height: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

    left: 0;
}

.title {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.title-primary {
    color: #FFFFFF;
}

.title-second {
    color: var(--cor06);
}

.first-content .second-column {
    z-index: 12;
}

.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}

.description {
    font-size: 14px;
    font-weight: 300;
    color: #FFFFFF;
    line-height: 30px;
}

.description-primary {
    color: #FFFFFF;
}

.description-second {
    color: var(--cor06);
}

.btn {
    border-radius: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

.btn-primary {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    transition: background-color .7s;
}

.btn-primary:hover{
    background-color: #FFFFFF;
    color: var(--cor06);
}

.btn-second {
    background-color: var(--cor06);
    border: 1px solid black;
    transition: background-color .7s;
}

.btn-second:hover {
    background-color: #FFFFFF;
    border: 1px solid var(--cor06);
    color: var(--cor01);
}

.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-content {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: var(--cor01);
    margin: 8px;
}

.label-input {
    background-color: var(--cor03);
    display: flex;
    align-items: center;
    margin: 8px;
}

/* .icon-modify {
    color: var(--01);
    pading: 0 5px; 
}
*/

.second-content {
    position: absolute;
    display: flex;
}

.second-content .first-column {
    order: 2;
    z-index: -1;
}

.second-content .second-column {
    order: 1;
    z-index: -1;
}

.sign-in-js .first-content .first-column,
.sign-in-js .first-content .second-column {
    z-index: -1;
}

.sign-in-js .second-content .second-column {
    z-index: 11;
}

.sign-in-js .second-content .first-column {
    z-index: 13;
}

.sign-in-js .content::before {
    left: 60%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px ;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    animation: slidein 1.7s;
}

.sign-up-js .content:before{
    animation: slideout 1.7s;

    z-index: 12;
}

.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column {
    z-index: -1;
}

.sign-up-js .first-content .second-column {
    z-index: 11;
}

.sign-up-js .first-content .first-column{
    z-index: 13;
}

/* Animação deslocamento conteúdo atrás do content:before*/
.sign-in-js .first-content .second-column {
    z-index: -1;
    position: relative;
    animation: deslocamentoEsq 3s;
}

.sign-up-js .second-content .second-column {
    z-index: -1;
    position: relative;
    animation: deslocamentoDir 3s;
}

/*Animação CSS para o conteúdo */
@keyframes deslocamentoEsq {
    from{
        left: 0;
        opacity: 1;
        z-index: 12;
    }
    25%{
        left: -80px;
        opacity: .5;
    }
    50%{
        left: 100px;
        opacity: .2;
    }
    to {
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}

@keyframes deslocamentoDir {
    from{
        left: 0;
        z-index: 12;
    }
    25%{
        left: 80px;
    }
    50%{
        left: 100px;
    }
    to {
        left: 110px;
        z-index: -1;
    }
}

/*Animação CSS */

@keyframes slidein {
    from {
        left: 0;
        width: 40%;
    }
    25%{
        left: 15%;
        width: 50%;
    }
    50%{
        left: 30%;
        width: 60%;
    }
    75%{
        left: 45%;
        width: 50%;
    }
    to {
        left: 60%;
        width: 40%;
    }
}

@keyframes slideout {
    from {
        left: 60%;
        width: 40%;
    }
    25%{
        left: 45%;
        width: 50%;
    }
    50%{
        left: 30%;
        width: 60%;
    }
    75%{
        left: 15%;
        width: 50%;
    }
    to {
        left: 0;
        width: 40%;
    }
}