@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

:root {
    --cor01:#F2F2F2;
    --cor02:#A62479;
    --cor03:#3D58F2;
    --cor04:#418EF2;
    --cor05:#4BC3F2;
    --cor06:#32BA7C;
    --cor07:#FFD54B;
    --cor08:#FF5A54;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .elementos {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /*Quebra com 465px*/

    text-align: center;
    position: fixed;
    min-width: 100%;
}

header img {
    width: 50px;
    height: 50px;
    margin: 37px 50px;
}

header {
    background-color: var(--cor05);
    height: 124px;
    text-align: center;
    position: fixed;
    min-width: 100%;
}

header h1 {
    padding: 35px;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
}

article {
    padding-top: 167px;
}

.btns-criar-remover {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.btns-criar-remover button {
    border: 3px solid black;
    border-radius: 25px;
    width: 300px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 25px
}

#btn-add {
    background-color: var(--cor06);
}

#btn-add img {
    width: 35px;
    height: 35px;
}

#btn-rem {
    background-color: var(--cor08);
}

.desc {
    display: flex;
    padding: 0 50px 60px 50px;
    align-items: center;
    justify-content: space-around;
}

.classificacoes {
    display: flex;
    align-items: center;
}

#tit-MM {
    display: flex;
    align-items: center;
}

#prioridades {
    display: flex;
    align-items: center;
}

.quads {
    display: flex;
    align-items: center;
    padding: 10px;
}

.quads h3 {
    margin-right: 25px;
}

#quad-verde {
    background-color: var(--cor06);
    border: 3px solid black;
    width: 25px;
    height: 25px;
}

#quad-amarelo {
    background-color: var(--cor07);
    border: 3px solid black;
    width: 25px;
    height: 25px;
}

#quad-vermelho {
    background-color: var(--cor08);
    border: 3px solid black;
    width: 25px;
    height: 25px;
}

.card-meta {
    display: flex;
    margin: 0 100px 50px 50px;
    border: 3px solid black;
    border-radius: 25px;
    width: 350px;
    height: 200px;
    justify-content: space-around;

    background-color: var(/*verde, vermelho ou amarelo*/);
}

#cont-esq {
    display: flex;
    flex-direction: column;
    padding: 15px 10px 5px 10px;
}

#data-sit {
    padding-top: 25px;
}

hr {
    border: 1px solid;
}

#cont-dir {
    display: flex;
    align-items: center;
}

#btn-concluido {
    border-style: unset;
    background-color: #ffffff;
    cursor: pointer;
}

#btn-concluido:hover{
    background-color: var(--cor06);
    border-radius: 25px;
    transition: 0.4s;
}