@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

:root {
    --cor01:#F2F2F2;
    --cor02:#A62479;
    --cor03:#3D58F2;
    --cor04:#418EF2;
    --cor05:#4BC3F2;
    --cor06:#32BA7C;
    --cor07:#FFD54B;
    --cor08:#FF5A54;
}

.dark_mode:root{
    --cor00:#000000;
    --cor01:#323232;
    --cor02:#A62479;
    --cor03:#4BC3F2;
    --cor04:#418EF2;
    --cor05:#3D58F2;
    --cor06:#32BA7C;
    --cor07:#FFD54B;
    --cor08:#FF5A54;
    --cor09:#ffffff;
    /* --cor10:#3D58F2; */

    --cor11:#252525;
    --cor01:#323232;
    --cor13:#05DBF2;
    --cor14:#04ADBF;
    --cor15:#106973;
    --cor16:#133B40;
    --cor00:#0D0D0D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .elementos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*Quebra com 465px*/
    text-align: center;
    position: fixed;
    min-width: 100%;
    height: inherit;
}

header img {
    width: 50px;
    height: 50px;
    margin: 37px 10px;
}

header {
    background-color: var(--cor05);
    height: 124px;
    text-align: center;
    position: fixed;
    min-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
}

article {
    padding-top: 167px;
}

.btns-criar-remover {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.btns-criar-remover button {
    border: 3px solid black;
    border-radius: 25px;
    width: 300px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 25px
}

#btn-add {
    background-color: var(--cor06);
    cursor: pointer;
    font-weight: bolder;
}

#btn-add img {
    width: 35px;
    height: 35px;
}

#btn-add:hover{
    background-color: white;
    color: black;
    transition: 0.4s;
    border: 3px solid var(--cor06);
    font-weight: bolder;
    font-size: medium;
}

.modal {
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out;  
}

.modal-content {
    position: relative;
    background-color: white;
    padding: 35px 25px;
    width: 350px;
    height: auto;
    border-radius: 20px;
}

.caixa{
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.caixa::before, .caixa::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    border-radius: 25px;
    background-image: linear-gradient(45deg, var(--cor05), var(--cor04), var(--cor03), black, var(--cor05), var(--cor04), var(--cor03));
    background-size: 300%;
    animation: AnimarBorda 10s linear infinite;
}

@keyframes AnimarBorda {
    0%{
        background-position: 0;
    }
    100%{
        background-position: 300%;
    }
}

.caixa::after {
    filter: blur(50px);
}

.modal-content #fechar-card {
    margin-bottom: 25px;
    cursor: pointer;
    padding: 3px;
    float: right;
    background-color: var(--cor08);
    border: none;
    font-size: medium;
    font-weight: bolder;
    width: 26px;
    height: 26px;
    border: 2px solid black;
    border-radius: 100px;
}

.modal-content #fechar-card:hover {
    background-color: white;
    border: 2px solid var(--cor08);
    transition: 0.4s;
}


.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content .campo {
    margin-bottom: 25px;
}

.modal-content #options{
    margin-bottom: 65px;
}

.campo{
    display: flex;
    flex-direction: column;
    font-weight: bolder;
}

.campo input{
    font-size: larger;
    border: 3px solid black;
    border-radius: 25px;
    height: 35px;
    padding: 0px 10px;
}

#data{
    cursor: pointer;
}

#options{
    font-weight: bolder;
}

#nvl-prioridade{
    cursor: pointer;
    width: 300px;
    font-size: larger;
    border: 3px solid black;
    border-radius: 25px;
    height: 35px;
    padding: 0px 5px;
}

#criar-meta{
    cursor: pointer;
    height: 30px;
    width: 100px;
    margin: 0px auto;
    background-color: var(--cor06);
    border: 2.5px solid black;
    border-radius: 25px;
    font-weight: bolder;
    font-size: smaller;
}

#criar-meta:hover{
    background-color: white;
    border: 2.5px solid var(--cor06);
    transition: 0.4s;
    font-weight: bolder;
    font-size: medium;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}

.desc {
    display: flex;
    padding: 0 50px 60px 50px;
    align-items: center;
    justify-content: space-around;
}

.classificacoes {
    display: flex;
    align-items: center;
}

#tit-MM {
    display: flex;
    align-items: center;
}

#prioridades {
    display: flex;
    align-items: center;
}

.quads {
    display: flex;
    align-items: center;
    padding: 10px;
}

.quads h3 {
    margin-right: 25px;
}

#quad-verde {
    background-color: var(--cor06);
    border: 3px solid black;
    width: 25px;
    height: 25px;
}

#quad-amarelo {
    background-color: var(--cor07);
    border: 3px solid black;
    width: 25px;
    height: 25px;
}

#quad-vermelho {
    background-color: var(--cor08);
    border: 3px solid black;
    width: 25px;
    height: 25px;
}

.card-meta {
    display: flex;
    margin: 0 100px 50px 50px;
    border: 3px solid black;
    border-radius: 25px;
    width: 350px;
    height: 200px;
    justify-content: space-evenly;

    background-color: var(/*verde, vermelho ou amarelo*/);
}

#cont-esq {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px 10px 5px 10px;
}

#tit_meta {
    margin: 0px;
}

hr {
    border: 1px solid;
    margin: 0px;
}

#cont-dir {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#btn-concluido {
    border-style: unset;
    background-color: #ffffff;
    cursor: pointer;
    padding: 2px;
    height: 51px;
    width: 51px;
}

#btn-concluido:hover{
    background-color: var(--cor06);
    border-radius: 25px;
    transition: 0.4s;
}

#btn-rem {
    border-style: none;
    background-color: #ffffff;
    cursor: pointer;
    padding: 0px;
    width: 49px;
    height: 49px;
}

#btn-rem img {
    width: 48px;
    height: 49px;
}

#btn-rem:hover{
    background-color: var(--cor08);
    border-radius: 31px;
    transition: 0.4s;
}