@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

:root {
    --cor00:#ffffff;
    --cor01:#F2F2F2;
    --cor02:#A62479;
    --cor03:#3D58F2;
    --cor04:#418EF2;
    --cor05:#4BC3F2;
    --cor06:#32BA7C;
    --cor07:#FFD54B;
    --cor08:#FF5A54;
}

.dark_mode:root{
    --cor00:#000000;
    --cor01:#323232;
    --cor02:#A62479;
    --cor03:#4BC3F2;
    --cor04:#418EF2;
    --cor05:#3D58F2;
    --cor06:#32BA7C;
    --cor07:#FFD54B;
    --cor08:#FF5A54;
    --cor09:#ffffff;
    /* --cor10:#3D58F2; */

    --cor11:#252525;
    --cor01:#323232;
    --cor13:#05DBF2;
    --cor14:#04ADBF;
    --cor15:#106973;
    --cor16:#133B40;
    --cor00:#0D0D0D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-evenly;
}

header .elementos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*Quebra com 465px*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
}

header img {
    width: 50px;
    height: 50px;
    margin: 37px 10px;

}

header {
    background-color: var(--cor05);
    height: 124px;
    text-align: center;
    min-width: 100%;
    text-align: center;
    position: fixed;
    min-width: 100%;
}


body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
    text-align: center;
    background-color: var(--cor01);
}

article {
    min-height: 100%;
    padding-top: 167px;
}

article .frase {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"]{
    display: none;
}

.bi{
    font-size: 1.3rem;
    cursor: pointer;
}

.bi-moon{
    display: none;
}

.dark_mode .bi-sun{
    display: none;
}

.dark_mode .bi-moon{
    display: block;
}


.planejamento {
    margin-top: 30px;
    padding: 20px;
    color: white;
    background-image: linear-gradient(to right, var(--cor02), #F736B4, #F981CF);
}

.desc{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.texto {
    font-size: 17px;
    padding: 20px;
}

.balancos {
    margin-top: 50px;
    padding: 20px;
    color: white;
    background-image: linear-gradient(to right, var(--cor05), #4DC7F7, #98DDF9);
    
}

.metas {
    margin-top: 50px;
    padding: 20px;
    color: white;
    background-image: linear-gradient(to right, var(--cor04), #4391F7, #8EBCF9);
    
}

.reserva {
    margin-top: 50px;
    padding: 20px;
    color: white;
    background-image: linear-gradient(to right, var(--cor03), #3E5AF7, #899AF9);
}

.tit-section {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    margin: 50px 50px;
}

.ver-mais {
    font-size: 20px;
    cursor: pointer;
    border-bottom: 1px solid white;
}