@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

:root {
    --cor00:#ffffff;
    --cor01:#F2F2F2;
    --cor02:#A62479;
    --cor03:#3D58F2;
    --cor04:#418EF2;
    --cor05:#4BC3F2;
    --cor06:#32BA7C;
    --cor07:#FFD54B;
    --cor08:#FF5A54;
    --cor09:#000000;
    --cor10:#000000;

    --cor_fundo: #ffffff;
}

.dark_mode:root{
    --cor00:#000000;
    --cor01:#323232;
    --cor02:#A62479;
    --cor03:#4BC3F2;
    --cor04:#418EF2;
    --cor05:#3D58F2;
    --cor06:#32BA7C;
    --cor07:#FFD54B;
    --cor08:#FF5A54;
    --cor09:#ffffff;
    /* --cor10:#3D58F2; */

    --cor11:#252525;
    --cor01:#323232;
    --cor13:#05DBF2;
    --cor14:#04ADBF;
    --cor15:#106973;
    --cor16:#133B40;
    --cor00:#0D0D0D;

    --cor_fundo: #2d3250;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
}

header{
    display: flex;
    justify-content: space-evenly;
}

header .elementos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*Quebra com 465px*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
}

header img {
    width: 50px;
    height: 50px;
    margin: 37px 10px;
}

header {
    background-color: var(--cor05);
    height: 124px;
    text-align: center;
    min-width: 100%;
    text-align: center;
    position: fixed;
    min-width: 100%;
}

header h1 {
    padding: 35px;
}

body{
    background-color: var(--cor_fundo);
    color: var(--cor09);
}

#container{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    height: 90vh;
    padding: 20px;
    background-color: var(--cor01);
    box-shadow: 0px 0px 10px var(--cor03);
    border-radius: 0px 0px 10px 10px;
}

article {
    height: 100%;
    padding-top: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#campo_img{
    text-align: center;
}

#campo_img img{
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 10px var(--cor03);
}

input[type="checkbox"]{
    display: none;
}

.bi{
    font-size: 1.3rem;
    cursor: pointer;
}

.bi-moon{
    display: none;
}

.dark_mode .bi-sun{
    display: none;
}

.dark_mode .bi-moon{
    display: block;
}

#form{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#info{
    display: flex;
    justify-content: space-around;
    height: 35vh;
}

#info input{
    border: 2px solid var(--cor10);
    box-shadow: 0px 0px 5px white;
    border-radius: 15px;
    padding: 10px;
    width: 350px;
}

#colum_dir{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#colum_esq{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#campo_btn{
    text-align: center;
}

#btn{
    width: 140px;
    height: 30px;
    margin: auto;
    background-color: var(--cor06);

    color: black;
    border: 2px solid black;
    border-radius: 25px;
    font-weight: bolder;
    cursor: pointer;
}

#btn:hover{
    background-color: white;
    color: black;
    border: 2px solid var(--cor06);
    box-shadow: 0px 0px 15px var(--cor06);
    transition: 0.5s;
}

@media screen and (max-width: 1020px) {
    #container{
        height: 120vh;
        width: 90vw;
    }
    
    article{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 50px;
    }

    #info{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #campo_btn{
        margin-top: 40px;
    }
}