@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

:root {
    --cor01:#F2F2F2;
    --cor02:#A62479;
    --cor03:#3D58F2;
    --cor04:#418EF2;
    --cor05:#4BC3F2;
    --cor06:#32BA7C;
    --cor07:#FFD54B;
    --cor08:#FF5A54;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .elementos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*Quebra com 465px*/
}

header img {
    width: 50px;
    height: 50px;
    margin: 37px 10px;
}

header {
    background-color: var(--cor05);
    height: 124px;
    text-align: center;
    min-width: 100%;
    text-align: center;
    position: fixed;
    min-width: 100%;
    height: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
}

article {
    padding-top: 167px;
}

.first {
    display: flex;
    justify-content: center;
    margin: 0 50px 0px 50px;
    align-items: center;
}

.first #mes {
    border: 1px solid black;
    padding: 10px;
    margin-left: 15px;
}

#first_img{
    margin-right: 7px;
}

.second {
    display: flex;
    padding-top: 30px;
}

.campos-valores {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.valores-fixos {
    display: flex;
    margin: 10px 0 10px 50px;
    justify-content: space-between;
    align-items: center;
}

.valores-fixos #titulo-valores-fixos {
    padding: 10px;
    margin-left: 5px;
}

.btn{
    cursor: pointer;
    height: 37px;
    width: 145px;
    font-weight: bolder;
}

#btn-conf{
    height: 25px;
    width: 100px;
}

#btn-addValorFixo{
    background-color: var(--cor06);
    border: 2.5px solid black;
    border-radius: 25px;
}

#btn-addValorFixo:hover{
    background-color: white;
    color: var(--cor06);
    transition: 0.4s;
    border: 2.5px solid var(--cor06);
    height: 42px;
    width: 150px;
    font-weight: bolder;
}


.modal {
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out; 
}

.modal-content {
    position: relative;
    background-color: white;
    padding: 35px 25px;
    width: 350px;
    height: auto;
    border-radius: 18px;
}

.caixa{
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.caixa::before, .caixa::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    border-radius: 25px;
    background-image: linear-gradient(45deg, var(--cor05), var(--cor04), var(--cor03), black, var(--cor05), var(--cor04), var(--cor03));
    background-size: 300%;
    animation: AnimarBorda 8s linear infinite;
}

@keyframes AnimarBorda {
    0%{
        background-position: 0;
    }
    100%{
        background-position: 300%;
    }
}

.caixa::after {
    filter: blur(50px);
}

.caixa-2{
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.caixa-2::before, .caixa-2::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    border-radius: 25px;
    background-image: linear-gradient(45deg, var(--cor05), var(--cor04), var(--cor03), black, var(--cor05), var(--cor04), var(--cor03));
    background-size: 300%;
    animation: AnimarBorda 8s linear infinite;
}

@keyframes AnimarBorda {
    0%{
        background-position: 0;
    }
    100%{
        background-position: 300%;
    }
}

.caixa-2::after {
    filter: blur(50px);
}

#planejamento {
    width: 600px;
    height: auto;
}

.modal-content h2 {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.modal-content #fechar-card {
    margin-bottom: 25px;
    cursor: pointer;
    padding: 3px;
    float: right;
    background-color: var(--cor08);
    border: none;
    font-size: medium;
    font-weight: bolder;
    width: 26px;
    height: 26px;
    border: 2px solid black;
    border-radius: 100px;
}

.modal-content #fechar-card:hover {
    background-color: white;
    border: 2px solid var(--cor08);
    transition: 0.4s;
}

.modal-content #fechar-card-2 {
    margin-bottom: 25px;
    cursor: pointer;
    padding: 3px;
    float: right;
    background-color: var(--cor08);
    border: none;
    font-size: medium;
    font-weight: bolder;
    width: 26px;
    height: 25px;
    border: 2px solid black;
    border-radius: 100px;
}

.modal-content #fechar-card-2:hover {
    background-color: white;
    border: 2px solid var(--cor08);
    transition: 0.4s;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-group{
    margin-top: 10px;
}

.form-group input{
    font-size: small;
    border: 2px solid black;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    padding: 0px 5px;
}


#categoria1{
    font-size: small;
    border: 2px solid black;
    border-radius: 10px;
    width: 145px;
    height: 30px;
    padding: 0px 5px;
}

.modal-content .campo {
    margin-bottom: 25px;
}

.campo{
    display: flex;
    flex-direction: column;
    font-weight: bolder;
}

.campo input{
    font-size: larger;
    border: 3px solid black;
    border-radius: 25px;
    height: 35px;
    padding: 0px 10px;
}

#formulario button{
    cursor: pointer;
    height: 30px;
    width: 140px;
    margin: 0px auto;
    background-color: var(--cor08);
    border: 2.5px solid black;
    border-radius: 25px;
    font-weight: bolder;
    font-size: smaller;
}

#formulario button:hover{
    background-color: white;
    border: 2.5px solid var(--cor08);
    transition: 0.4s;
    font-weight: bolder;
    font-size: small;
}

#formulario #add-Categoria{
    cursor: pointer;
    height: 30px;
    width: 140px;
    margin: 0px auto;
    background-color: var(--cor06);
    border: 2.5px solid black;
    border-radius: 25px;
    font-weight: bolder;
    font-size: smaller;
}

#formulario #add-Categoria:hover{
    background-color: white;
    border: 2.5px solid var(--cor06);
    transition: 0.4s;
    font-weight: bolder;
    font-size: small;
}

.btn-conf{
    cursor: pointer;
    height: 30px;
    width: 100px;
    margin: 0px auto;
    background-color: var(--cor06);
    border: 2.5px solid black;
    border-radius: 25px;
    font-weight: bolder;
    font-size: smaller;
}

#conf{
    margin-top: 10px;
}

.btn-conf:hover{
    background-color: white;
    border: 2.5px solid var(--cor06);
    transition: 0.4s;
    font-weight: bolder;
    font-size: medium;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}

.caixa-valores-fixos {
    border: 5px solid var(--cor03);
    border-radius: 25px;
    margin-left: 50px;
    width: 450px;
    height: 500px;
}

#valor-fixo1 {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    width: 100%;
}

#tit{
    margin-right: 50px;
}

.conteudo2 {
    display: flex;
    margin: 0 50px 0 200px;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
}

.cabecalho button {
    border-style: none;
    cursor: pointer;
    background-color: white;
}

.cabecalho img {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.quadro {
    margin-top: 15px;
    border: 5px solid var(--cor02);
    border-radius: 25px;
    height: 100%;
    width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#icon-title {
    display: flex;
    justify-content: space-between;
}

#gasto1 {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

#gastos-totais {
    padding: 20px;
    display: flex;
    justify-content: right;
}

#tit-plan {
    padding: 5px;
}